bookoutlet
venv
try.py
try_typer.py
sample_page.html
src
log.txt
all_link.csv
try_aiocfscrape.py
read_proxy.py
output.log
final_links.txt
__pychache__
db/__pychache__
db/__pychache__/*
db/__pycache__/convert.cpython-310.pyc
__pycache__/__init__.cpython-310.pyc
__pycache__/app.cpython-310.pyc
__pycache__/extensions.cpython-310.pyc
__pycache__/models.cpython-310.pyc
old.sqlite