{% extends "table.html" %}
{% block form %}
<form action="/table" method="post" class="d-flex" role="search">
    <div class="form-row disabled">
      <div class="form-group col-md-6">
        <label for="inputFname">Author First Name</label>
        <input type="text" class="form-control" id="inputLname" placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputLname">Last Name</label>
        <input type="text" class="form-control" id="inputLname" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputTitle">Title</label>
      <input type="text" class="form-control" id="inputTitle" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <label for="inputIsbn">ISBN</label>
      <input type="text" class="form-control" id="inputIsbn" placeholder="13 digit of numbers">
    </div>
    <div class="form-row disabled">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputBinding">Binding</label>
        <select id="inputBinding" class="form-control">
          <option selected>Choose...</option>
          <option value="Board Books">Board Books</option>
          <option value="Boxed Set">Boxed Set</option>
          <option value="Calendar">Calendar</option>
          <option value="Compact Disc">Compact Disc</option>
          <option value="Hardcover">Hardcover</option>
          <option value="Imitation Leather">Imitation Leather</option>
          <option value="Library Binding ">Library Binding</option>
          <option value="Paperback">Paperback</option>
          <option value="Pocket Books">Pocket Books</option>
          <option value="Puzzles">Puzzles</option>
        </select>
      </div>
      <div class="form-group col-md-2 disabled">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control" id="inputZip">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}