{% extends "index.html" %}
{% block table %}
<div class="container">
  <div class="row" style="padding:20px;">
    <a href="/add" class="btn btn-primary" role="button">Add New Data</a>
</div>
</div>
<div class="container">  
    <div class="table-responsive">
        <table id="data" class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Price</th>
                    <th scope="col">Binding</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Publish date</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Language</th>
                    <th scope="col">Page count</th>
                    <th scope="col">Dimension</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for row in books %}
                <tr>
                    <td><img src="{{ row['image'] }}" class="img-thumbnail"></td>
                    <td>{{ row.title }}</td>
                    <td>{{ row.author }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.binding }}</td>
                    <td>{{ row.isbn }}</td>
                    <td>{{ row.publish_date }}</td>
                    <td>{{ row.publisher }}</td>
                    <td>{{ row.language }}</td>
                    <td>{{ row.page_count }}</td>
                    <td>{{ row.dimension }}</td>
                    <td>
                      <div class="btn-group" role="group">
                        <form action="{{ url_for('view.edit',isbn=row.isbn) }}" method="post">
                          <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                        <form action="{{ url_for('view.delete',isbn=row.isbn) }}" method="post">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<nav aria-label="Page navigation example" style="padding: 30px;">
  <ul class="pagination justify-content-center">
    {% if books.has_prev %}
    <li class="page-item"><a class="page-link" href="{{ url_for('view.table', page=1) }}">First</a></li>
    <li class="page-item"><a class="page-link" href="{{ url_for('view.table', page=books.prev_num) }}">Previous</a></li>
    {% endif %}
    <li class="page-item active" aria-current="page"><a class="page-link" href="#"><span class="sr-only">Page {{ page }} of {{ max_page }}</span></a></li>
    {% if books.has_next %}
    <li class="page-item"><a class="page-link" href="{{ url_for('view.table', page=books.next_num) }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="{{ url_for('view.table', page=max_page) }}">Last</a></li>
    {% endif %}
  </ul>
</nav>     
{% endblock %}